torch==1.13.0
pyro-ppl
scikit-learn
scipy
wordcloud
pandas
tqdm
jupyter
numpy
absl-py==1.4.0
accelerate==0.24.1
aiohttp==3.8.4
aiosignal==1.3.1
antlr4-python3-runtime==4.8
anyio==3.6.2
appdirs==1.4.4
arrow==1.2.3
asttokens==2.4.1
async-timeout==4.0.2
attrs==22.2.0
beautifulsoup4==4.11.2
bert-score==0.3.13
bitarray==2.7.3
bitsandbytes==0.41.2.post2
black==23.1.0
bleach==6.0.0
blessed==1.20.0
blis==0.7.9
build==0.10.0
catalogue==2.0.8
cffi==1.15.1
charset-normalizer==3.0.1
click==8.1.3
cmake==3.25.0
colorama==0.4.6
comm==0.2.0
confection==0.0.4
contourpy==1.0.7
croniter==1.3.8
cycler==0.11.0
cymem==2.0.7
Cython==0.29.35
dataframe-image==0.1.9
datasets==2.10.1
dateutils==0.6.12
debugpy==1.8.0
decorator==5.1.1
deepdiff==6.3.0
defusedxml==0.7.1
demoji==1.1.0
dill==0.3.6
dnspython==2.3.0
docker-pycreds==0.4.0
einops==0.6.0
email-validator==1.3.1
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.5.0/en_core_web_md-3.5.0-py3-none-any.whl
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.5.0/en_core_web_trf-3.5.0-py3-none-any.whl
evaluate==0.4.0
exceptiongroup==1.1.3
executing==2.0.1
faiss-gpu==1.7.2
fastapi==0.88.0
fastjsonschema==2.16.3
filelock==3.9.0
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2023.10.0
fuzzywuzzy==0.18.0
gdown==4.7.1
gensim==4.3.1
gitdb==4.0.10
GitPython==3.1.31
h11==0.14.0
html2image==2.0.3
httpcore==0.16.3
httptools==0.5.0
httpx==0.23.3
huggingface-hub==0.19.4
hydra-core==1.0.7
idna==3.4
imgkit==1.2.3
inquirer==3.1.3
install==1.3.5
ipykernel==6.27.1
ipython==8.18.1
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
jupyter_client==8.1.0
jupyter_core==5.3.0
jupyterlab-pygments==0.2.2
kiwisolver==1.4.4
langcodes==3.3.0
language-check @ git+https://github.com/MCFreddie777/language-check.git@337493f25b5a49af0a09b0e264f306eccefaff8f
lemminflect==0.2.3
Levenshtein==0.20.9
lightning==2.0.1
lightning-cloud==0.5.32
lightning-utilities==0.8.0
lit==15.0.7
lxml==4.9.2
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.6.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==2.0.5
mpmath==1.2.1
multidict==6.0.4
multiprocess==0.70.14
murmurhash==1.0.9
mutual-implication-score==0.0.0
mypy-extensions==1.0.0
nbclient==0.7.3
nbconvert==7.3.0
nbformat==5.8.0
nest-asyncio==1.5.8
networkx==3.0
nltk==3.5
numpy==1.24.1
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
omegaconf==2.0.6
openai==0.27.8
opt-einsum==3.3.0
ordered-set==4.1.0
orjson==3.8.9
outcome==1.3.0
packaging==23.0
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
PassivePy==0.2.21
pathspec==0.11.0
pathtools==0.1.2
pathy==0.10.1
patsy==0.5.3
peft==0.6.2
pexpect==4.9.0
Pillow==9.4.0
platformdirs==3.0.0
portalocker==2.7.0
POT==0.8.2
preshed==3.0.8
prompt-toolkit==3.0.43
protobuf==4.23.1
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==11.0.0
pycontractions==2.0.1
pycparser==2.21
pydantic==1.10.7
pyemd==1.0.0
Pygments==2.14.0
PyJWT==2.6.0
pyparsing==3.0.9
pyproject_hooks==1.0.0
pyro-api==0.1.2
pyro-ppl==1.8.6
pyrsistent==0.19.3
pysbd==0.3.4
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-editor==1.0.4
python-Levenshtein==0.20.9
python-multipart==0.0.6
pytorch-lightning==2.0.1
pytorch-metric-learning==2.0.1
pytz==2022.7.1
PyYAML==6.0
pyzmq==25.0.2
rapidfuzz==2.13.7
readchar==4.0.5
regex==2022.10.31
requests==2.28.2
responses==0.18.0
rfc3986==1.5.0
rich==13.3.3
rouge-score==0.1.2
sacrebleu==2.3.1
safetensors==0.4.1
scikit-learn==1.2.1
scipy==1.10.0
seaborn==0.12.2
selenium==4.14.0
sentence-transformers==2.2.2
sentencepiece==0.1.97
sentry-sdk==1.23.1
setproctitle==1.3.2
six==1.16.0
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
spacy==3.5.2
spacy-alignments==0.9.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
spacy-transformers==1.2.5
spacy-wordnet==0.1.0
srsly==2.4.6
stack-data==0.6.3
starlette==0.22.0
starsessions==1.3.0
statsmodels==0.14.0
sympy==1.11.1
tabulate==0.9.0
termcolor==2.2.0
thinc==8.1.9
threadpoolctl==3.1.0
tinycss2==1.2.1
titlecase==2.4
tokenizers==0.15.0
tomli==2.0.1
torch==2.0.1+cu118
torchaudio==2.0.2+cu118
torchmetrics==0.11.4
torchvision==0.15.2+cu118
tornado==6.2
tqdm==4.64.1
traitlets==5.9.0
transformers==4.35.2
trio==0.22.2
trio-websocket==0.11.1
triton==2.0.0
typer==0.7.0
typing_extensions==4.4.0
ujson==5.7.0
urllib3==1.26.14
uvicorn==0.21.1
uvloop==0.17.0
wandb==0.15.3
wasabi==1.1.1
watchfiles==0.19.0
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==1.5.1
websockets==11.0
wsproto==1.2.0
xxhash==3.2.0
yarl==1.8.2
